<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %white(%d{dd MMM yyyy HH:mm:ss.SSS}) [%yellow(%t)] - %highlight(%-5level) - %green(%-40logger{20}) : %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <logger name="fr.ignishky" level="DEBUG" additivity="false"/>

    <root level="WARN">
        <appender-ref ref="Console"/>
    </root>

</configuration>
